.root {
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

.scrollable {
    overflow-y: auto;
}

.vertically-centered {
    display: flex;
    align-items: center;
}