.root {
    height: 100vh;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
    min-width: 0;
}

.scrollable {
    overflow-y: auto;
}
